<!doctype html>
<html>
    <%- include("../layouts/header") %>

    <body>
        <h1 class="question">Quel pays correspond à ce drapeau ?</h1>
        <img src="<%= flag %>" alt="<%= country %>" class="flag" />

        <div>
            <input class="input-free" />
            <div class="row-1">
                <button>1</button>
                <button>2</button>
            </div>
            <div class="row-2">
                <button>3</button>
                <button>4</button>
            </div>
        </div>
    </body>
</html>
