<!doctype html>
<html lang="en">
    <%- include("layouts/header"); %>
    <body>
        <h1>Quizzeo</h1>

        <form action="/quizz" method="post">
            <input type="submit" value="Démarrer un questionnaire" />
        </form>
    </body>
</html>
